$prefix: "si-";
$primary: #006198;

$font-family-base: "DIN Next LT Arabic", sans-serif;

$border-color: #bdbdbd;

$headings-font-family: $font-family-base;

$lead-font-weight: 300;
// Heading Font
$h1-font-size: 2.5rem; // 40px
$h2-font-size: 2rem; // 32px
$h3-font-size: 1.75rem; // 28px
$h4-font-size: 1.5rem; // 24px
$h5-font-size: 1.25rem; // 20px
$h6-font-size: 1rem; // 16px

// Base text colors
$text-color-heading: #242424;
$text-color-body: #575757;
$text-color-secondary: #575757;
$text-color-tertiary: #f0f0f0;
$text-color-emphasis: #242424;

// Override Bootstrap's defaults
$body-color: $text-color-body;
$headings-color: $text-color-heading;

$theme-colors: (
  "primary": $primary,
  "secondary": $text-color-secondary,
  "tertiary": $text-color-tertiary,
  "emphasis": $text-color-emphasis,
  "heading": $text-color-heading,
  "body": $text-color-body,
  "border": $border-color,
);

// Button styles
// $btn-color: var(--#{$prefix}body-color);
$btn-padding-y: 0.563rem;
$btn-padding-x: 1rem;
$btn-font-size: 1rem;
$btn-font-weight: 500;

$btn-padding-y-sm: 0.3rem;
$btn-padding-x-sm: 0.6rem;
$btn-font-size-sm: 0.875rem;

$btn-padding-y-lg: 0.5rem;
$btn-padding-x-lg: 1rem;
$btn-font-size-lg: 1rem;

$btn-border-radius: 0.6rem;
$btn-border-radius-sm: 0.5rem;
$btn-border-radius-lg: 0.8rem;

// Input styles

$input-padding-y: 0.5rem;
$input-padding-x: 1rem;
$input-font-size: 1rem;
$input-color: $text-color-heading;
$input-bg: #fff;
$input-border-radius: 0.5rem;

// Focus state
$input-focus-border-color: #006198;
$input-focus-box-shadow: none;

// Labels
$form-label-margin-bottom: 0.2rem;
$form-label-font-weight: 400;
$form-label-font-size: 16px;

// Card
$card-border-radius: 1rem;
