p {
  margin-bottom: 0;
}
.error-text {
  font-size: 0.875rem;
  color: #dc3545;
  margin-top: 0.25rem;
}

.readAbleFieldtextEqualHeight {
  min-height: calc(100% - 30px);
}

.dashboardSidebar {
  min-width: 280px;
  nav {
    gap: 2px;
    a {
      background-color: transparent;
      border-color: transparent;
      color: $accent-color;
      display: flex;
      text-align: start;
      font-weight: normal;
      align-items: center;
      gap: 0.75rem;
      i {
        font-size: 20px;
        font-weight: bold;
      }
      &:hover,
      &.active {
        font-weight: normal;
        background-color: $primary;
        border-color: $primary;
        color: #fff;
      }
    }
  }
}

// Button COmponent
button,
.btn {
  outline: none !important;
  box-shadow: none !important;
  white-space: nowrap;
}

// Table COmponent
.table {
  overflow: hidden;
  border-collapse: separate;
  border-spacing: 0 0.7rem; // spacing between rows
  thead th {
    background-color: $light-gray;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border: 1px solid $border-color;
    border-left-width: 0;
    border-right-width: 0;
  }
  tbody td {
    border: 1px solid $border-color;
    border-left-width: 0;
    border-right-width: 0;
    position: relative;
  }
  thead tr > th:first-child,
  tbody tr > td:first-child {
    border-left-width: 1px;
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
  }

  thead tr > th:last-child,
  tbody tr > td:last-child {
    border-right-width: 1px;
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
  }
}

// Common styles for all custom dropdowns
%custom-dropdown-base {
  background-color: $light-gray;
  width: 100%;

  li {
    padding: 0.25rem 0;
    cursor: pointer;

    &:not(:last-child)::after {
      content: "";
      display: block;
      border-bottom: 1px solid $border-color;
    }
  }
}

// Custom dropdown
.dropdown-menu.custom-dropdown {
  @extend %custom-dropdown-base;
  padding: 0.5rem 1.5rem;
}

// Custom dropdown with checkboxes
.dropdown-menu.custom-dropdown-multi-select {
  @extend %custom-dropdown-base;
  padding: 0 1.5rem;

  li:last-child {
    margin: 1rem 0;
  }
}

/* Custom switch with On/Off text inside */
.form-switch {
  padding-left: 3rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.form-switch .form-check-input {
  width: 3rem;
  height: 1.5rem;
  margin-left: -3rem;
}

// Badge Status
.badge-status {
  padding: 7px 14px;

  position: relative;
  padding-left: 24px;

  &::before {
    content: "";
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: currentColor;
  }
}

// nav nav-pills for tabs
.nav.nav-pills {
  gap: 0.1rem;
  .nav-link {
    padding: 0.4rem 1rem;
    font-size: 0.875rem;
    font-weight: 500;
    border-radius: 0.5rem;
  }
}

// Modal
.modal-content {
  padding: 12px 20px;
}
